<div class="contaier-fluid px-1" style="
    max-width: 200px;
    float: right;
">
    <div class="row  m-0">
        <div class="container-fluid">
            <div class="" style="background-color: rgb(225, 11, 39);border:1px solid rgb(225, 11, 39)">
                <div class="col-12">
                    <h1 style="color: white;text-align: center;">FLASH INFO
                    </h1>
                </div>
            </div>
            <div class="" style="border:2px solid rgb(225, 11, 39)">
                <div class="col-12">
                    <div style="text-align: center;">
                        <p>
                            <strong> <span style="font-size:9.0pt;">LES PREINSCRIPTIONS</span></strong>
                            <strong style="font-size: 80%">POUR LES VACANCES DE&nbsp; FEVRIER 2020</strong>
                            <strong> <span style="font-size:9.0pt;">SONT OUVERTES&nbsp;&nbsp;</span></strong> &nbsp; <strong style="font-size: 9pt;">
                            </strong>
                        </p>
                        <p class="my-2"> <strong style="font-size: 9pt;">DU 06 JANVIER AU 25 JANVIER 2020&nbsp;</strong></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>