<div class="pt-5" style="text-align: center;">
        <p>
                <img src="https://aulnayssbois.portail-familles.com/aulnayssbois/images/local/site/teamnet/CSS_collectivites/banniere-basOK.jpg"
                        style="width: 50%;"></p>
        <p>
                <span style="text-align: left;">Conformément à la loi
                        informatique et libertés du 6 janvier 1978, toutes les données
                        informatiques vous concernant sont traitées de manière
                        strictement confidentielle.</span>
                <span style="text-align: left;">Vous disposez d'un droit d'accès,
                        de rectification et d'opposition à vos données.</span></p>
        <p>&nbsp;</p>
</div>

<a class="py-5" href="http://suresnes-apfv6.portail-familles.com:8080"> <img alt="footer" title="teamnet"
                src="https://glcdn.githack.com/TEAMNET_STE/configuration/raw/master/suresnes-apfv6/images/logo_teamnet.jpg" /></a>