<p _ngcontent-oni-c4="" style="font-weight:bold;font-size: 20px;background-color: white;margin: 0;">Bienvenue sur la V6 du portail Aunlay famille</p>
<div _ngcontent-oni-c4="" alt="teamnet"
    style="background: url(https://www.aulnay-sous-bois.fr/wp-content/uploads/2018/04/animations10-25ans.jpg);background-repeat: no-repeat;background-attachment: fixed;width: 100% !important;height: 16em;background-position-y: 4em;background-position-x: 4em;background-size: contain;/* background-position: 79px; */"
    title="Aulnay">
</div>