/* NOTE */
/* LA COULEUR PRICIPALE EST  POUR CHANGER GLOBALEMENT LES COULEURS DE L'APP 
IL SUFFIT DE REMPLACER 149, 25, 129 PAR A, B, C dont A, B et C sont RGB 
(UTILISER CONTROL+F et CONTROL+H sous VSCODE)
*/
/* #region #1 globale css 
---------------------------------------------------------------------------------- */

html {
  font-family: Roboto, sans-serif;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  height: 100%;
  margin: 0;
  font-size: 1.25em;
  background: whitesmoke !important;
}

#pf_site {
  width: 100%;
  background-color: initial;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.pf_page {
  width: 80%;
  margin: 0 auto;
  margin-top: 5em;
  margin-bottom: 5em;
  overflow-y: auto;
  display: flex;
}

/* #endregion */

/* #region #2 BACKGROUND IMAGE 
---------------------------------------------------------------------------------- */

.pf_page_background {
  background-color: rgba(0, 0, 0, 0.03);
}

.pf-background-image-1 {
  /* background-image: url(http://www.le-bourget.fr/IMG/artoff50.jpg?1458121435); */
}

.animationChange .pf-background-image-2 {
  animation-name: initial !important;
  animation-timing-function: initial !important;
  animation-iteration-count: initial !important;
  animation-duration: initial !important;
  animation-direction: initial !important;
}

.pf-background-image-2 {
  background-image: url(https://www.siae.fr/Data/Sites/4/images/889A1134-7_1_0_0_0.jpg);
}

.pf-background-image-style {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
  background-size: cover;
}

.pf_background-image-blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

/* #endregion */

/* #region #3 BANDEAU 
---------------------------------------------------------------------------------- */
#pf_bandeau {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 2em;
  line-height: 2em;
  margin: auto;
  font-size: 1.6em;
}

#pf_barre_texte {
  font-size: 18px;
  float: left;
  color: white;
  font-weight: bold;
}

#pf_barre_icone {
  float: right;
  padding-right: 1em;
}

#pf_barre_icone a {
  transition: all 0.3s ease;
}

#pf_barre_icone a:hover {
  background-color: white;
}

.pf-icons-style {
  text-align: center;
  width: 28px;
  font-size: 20px;
  transition: all 0.3s ease;
  color: white !important;
}

.pf_iconBandeau {
  font-size: 25px;
  color: white;
}

/* #endregion */

/* #region #4 BLOC HAUT 
---------------------------------------------------------------------------------- */
#pf_bloc_haut {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* #endregion */

/*  #region BLOC GAUCHE 
---------------------------------------------------------------------------------- */
#pf_bloc_gauche {
  word-break: break-word;
  width: 15%;
  height: 100%;
  min-height: 100%;
}

/* #region BLOC CENTRALE HAUT 
---------------------------------------------------------------------------------- */

#pf_bloc_central {
  width: 70%;
  height: 100%;
  min-height: 100%;
  /* // word-break: break-word;*/
}

/* #endregion */

/* #region BLOC DROIT */

#pf_bloc_droit {
  width: 15%;
  word-break: break-word;
  height: 100%;
  min-height: 100%;
}

/* #endregion */

/* #region FOOTER 
---------------------------------------------------------------------------------- */

#pf_footer {
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 3%;
  background-color: white;
}

#pf_footer a {
  width: 12.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#pf_footer img {
  width: 12.5em;
}

/* #endregion */

/* #region THEME AND SOUS THEME 
---------------------------------------------------------------------------------- */
.pf-title-sousTheme {
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 0;
  padding: 0.1em;
}

#pf_theme_conteneur {
  padding-top: 2em;
}

#pf_theme_menu {
  margin-bottom: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
  color: black;
}

#pf_list_theme_conteneur {
  width: 100%;
  margin-top: 2em;
  padding: auto;
  display: table;
  flex-wrap: wrap;
}

.pf_theme {
  width: 40em;
  margin: 2rem;
}

.pf_soustheme_titre {
  height: 3em;
  margin-bottom: 1.4em;
}
.pf_soustheme_titre a {
  color: black;
  position: relative;
  display: block;
  text-decoration: none;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.pf_soustheme_titre a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgb(0, 0, 0);
}

/* #endregion */

/* #region MENU 
---------------------------------------------------------------------------------- */
.pf_nav ul {
  margin: 0px;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  list-style: none;
}

.pf_nav_selected {
  background-color: rgba(0, 0, 0, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  font-weight: 500;
}

.pf_nav li {
  padding: 1em;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  background-color: rgb(255, 255, 255);
  color: black;
}

/* #endregion */

/* #region THEME AVANT 
---------------------------------------------------------------------------------- */
#pf_theme_avant {
  text-align: center;
}
/* #endregion */

/* #region THEME APRES 
---------------------------------------------------------------------------------- */
#pf_theme_apres {
  text-align: center;
  margin-top: 3em;
}

/* #endregion */

/* #region BLOC 
---------------------------------------------------------------------------------- */
.pf_bloc {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 10px;
}

.pf_bloc_titre {
  text-align: center;
  margin-bottom: 1.3em;
  /* // padding-top: 0.6em;
    // padding-bottom: 0.6em;
    // height: 1.2em; */
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

/* #region STEPS FORMULAIRE 
---------------------------------------------------------------------------------- */
.pf_ariane {
  background-color: rgba(244, 244, 244, 1);
  color: black;
  font-size: 0.8em;
}

.pf_ariane div {
  float: left;
}

.pf_bloc_conteneur {
  display: flex;
  flex-wrap: wrap;
}

.fil_arianne_on {
  float: left;
  font-size: 0.8em;
}

.fil_arianne_off {
  float: left;
  font-size: 0.8em;
  color: black;
  background-color: rgba(244, 244, 244, 1);
}
/* #endregion */

/* #region scroll globale 
---------------------------------------------------------------------------------- */
.scroll::-webkit-scrollbar-thumb {
  height: 6px !important;

  background-color: rgba(25, 58, 149, 0.3);
}

.scroll::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 1);
}

.scroll::-webkit-scrollbar {
  width: 8px !important;
  background-color: rgba(245, 245, 245, 1);
}
/* #endregion */

/* #region FOND 
---------------------------------------------------------------------------------- */
.colorFond {
  color: rgb(255, 255, 255) !important;
}
/* #endregion */

/* #REGION BOUTON 
---------------------------------------------------------------------------------- */

:host button:enabled {
  background-color: rgb(255, 255, 255);
}

.pf_boutons {
  display: inline;
  margin: 0.6em;
}

.pf_btn {
  color: black !important;
  background-color: rgb(255, 255, 255) !important;
}

.pf_btn:hover {
  color: rgb(255, 255, 255) !important;

  background-color: black !important;
}

.pf_btn_selected {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(12, 195, 25) !important;
}

.pf_btn_selected .mat-raised-button {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(12, 195, 25) !important;
}

/* #endregion */

/* #region TABLE DYNAMIQUE 
---------------------------------------------------------------------------------- */
.containerTableDynamique th {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

/* #endregion */

/* #region SLIDE UP BOUTON 
---------------------------------------------------------------------------------- */
.slideUp {
  left: calc(100vw - 50px - 20px - 10px); /*50px width of slide, 20px margin, 10px scrollbar*/
  top: calc(100vh - 50px - 20px);
  z-index: 10000;
  height: 50px;
  width: 50px;
  position: fixed;
  background-color: rgb(0, 0, 0);
}

/* #endregion */

/* #region LOGIN 
---------------------------------------------------------------------------------- */

.paddingLogin {
  padding-top: 15vh !important;
}

.imgLogo {
  max-width: 300px !important;
  max-height: 300px !important;
  margin-bottom: 45px;
}

#pf_login {
  width: 40em;
  max-width: 100%;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

#pf_login_titre {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-bottom: 1px solid transparent;
  /* //Instead of the line below you could use @include border-top-left-radius($radius) */
  border-top-left-radius: 3px;
  /* //Instead of the line below you could use @include border-top-right-radius($radius) */
  border-top-right-radius: 3px;
  font-size: 20px;
  color: white;
}

#pf_login_body {
  border: 1px solid rgb(255, 255, 255);
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.pf_login_champ {
  margin-bottom: 22px;
}

.pf_login_btn {
  text-align: center;
  margin-bottom: 22px;
}

.pf_login_oublie {
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 15px;
  padding-bottom: 20px;
}

.filterBackground {
  background: -webkit-linear-gradient(right, rgba(3, 0, 226, 0) 0%, rgba(255, 255, 255, 0.87) 100%) !important;
  background: linear-gradient(to right, rgba(3, 0, 226, 0) 0%, rgba(255, 255, 255, 0.87) 100%) !important;
  height: 100%;
  z-index: 10;
  position: fixed;
  background-size: cover;
  width: 67vw;
  left: 33vw;
  -webkit-transform: skewX(-25deg);
  transform: skewX(0deg);
}

/* #endregion */

/* #region AGENDA 
---------------------------------------------------------------------------------- */

.agendaContainer {
  overflow-x: auto;
  overflow-y: hidden;
}

.styleNextBack {
  font-size: 12px;
  line-height: 2em;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

.styleNextBack:hover {
  font-size: 13px;
  font-weight: bold;
}

/* SCROLL AGENDA */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 1);
  width: 6px;
}
.backgroudToday {
  background-color: rgba(255, 255, 255, 1);
}

/* #endregion */

/* #region media 
---------------------------------------------------------------------------------- */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  section.elementor-element {
    background-attachment: scroll !important;
  }
}

@media (max-width: 990px) {
  #pf_bloc_gauche {
    word-break: break-word;
    width: 100% !important;
    height: 100%;
    min-height: 100%;
  }

  #pf_bloc_central {
    width: 100% !important;
    height: 100%;
    min-height: 100%;
  }

  #pf_bloc_droit {
    word-break: break-word;
    width: 100% !important;
    height: 100%;
    min-height: 100%;
  }
}

@media (max-width: 640px) {
  #pf_theme_conteneur {
    max-width: 100%;
  }

  #pf_login {
    width: 100%;
    margin: auto;
    margin-top: 15px;
  }

  #pf_theme_menu {
    flex-flow: column wrap;
  }

  * {
    box-sizing: border-box;
  }

  body {
    width: auto;
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  table {
    max-width: 100%;
    hyphens: auto;
    word-wrap: break-word;
  }

  td {
    max-width: 100%;
    hyphens: auto;
    word-wrap: break-word;
  }

  blockquote {
    max-width: 100%;
  }

  textarea {
    max-width: 100%;
    hyphens: auto;
    word-wrap: break-word;
  }

  input {
    max-width: 100%;
  }

  th {
    hyphens: auto;
    word-wrap: break-word;
  }

  code {
    hyphens: auto;
    word-wrap: break-word;
  }

  pre {
    hyphens: auto;
    word-wrap: break-word;
  }

  samp {
    hyphens: auto;
    word-wrap: break-word;
  }
}

@media (max-device-width: 768px) and(orientation: landscape) {
  html {
  }
}
/* #endregion */
