<div class="container-fluid mt-5">
    <div class="row ">
        <a class="centerElement" href="http://avignon-apfv6.portail-familles.com:8080">
            <img alt="footer" title="teamnet"
                src="https://glcdn.githack.com/TEAMNET_STE/configuration/raw/master/avignon-apfv6/images/logo_teamnet.jpg">
        </a>
    </div>
</div>