<div>
	<div class="centerElement">
		<img alt="ok"
			src="https://glcdn.githack.com/TEAMNET_STE/configuration/raw/master/avignon-apfv6/images/wcag1AA.png"
			title="ok" style="max-width: 50px;" />
		<img alt="Valid XHTML 1.0"
			src="https://glcdn.githack.com/TEAMNET_STE/configuration/raw/master/avignon-apfv6/images/valid-xhtml10.png"
			title="valid xhtml" style="max-width: 50px;" />
	</div>

	<div>
		<p style="font-family: Arial, Helvetica, sans-serif; font-size: smaller;text-align:center">
			Conformément à la loi Informatique et libertés du 6 janvier 1978 et à la loi du 6 août 2004, vous disposez
			d’un
			droit d’accès, de rectification, de modification et de suppression concernant les données qui vous
			concernent.
			Vous
			pouvez exercer ce droit en envoyant un mail à contact@sequedin.fr.</a>.
		</p>
		</p>
		<p style="font-family: Arial, Helvetica, sans-serif; font-size: smaller;text-align:center">
			Il vous est également possible de nous envoyer un courrier à l’adresse suivante :
		</p>
		<p style="font-family: Arial, Helvetica, sans-serif; font-size: smaller;text-align:center">
			<strong class="spip">Mairie de Sequedin</strong>&nbsp;- rue Marais - 59320 SEQUEDIN
		</p>
	</div>
</div>