<div class="container-fluid mt-5">
    <div class="row ">
        <a class="centerElement" href="http://meudon-apfv6.portail-familles.com:8080"> <img alt="footer" title="teamnet"
                src="https://glcdn.githack.com/TEAMNET_STE/configuration/raw/master/meudon-apfv6/images/logo_teamnet.jpg"
                style="border-radius: 100px 10px / 174px;box-shadow: 38px -15px #0000002e;"></a>
    </div>
</div>