<div class="pt-5" style="text-align: center;">
        <span style="text-align: left;">Conformément à la loi
                informatique et libertés du 6 janvier 1978, toutes les données
                informatiques vous concernant sont traitées de manière
                strictement confidentielle.</span>
        <span style="text-align: left;">Vous disposez d'un droit d'accès,
                de rectification et d'opposition à vos données.</span></p>
        <p>&nbsp;</p>
</div>