<p style="font-weight:bold;font-size: 20px;background-color: white;margin: 0;">Bienvenue sur la V6 du portail
    Teamnet</p>
<div alt="teamnet" title="teamnet"
    style="background: url('http://www.elven.bzh/medias/2017/11/famille-1240x828.jpg');background-repeat: no-repeat;background-attachment: fixed;width: 100% !important;height: 20em;background-position-y: 20px;background-position-x: center;background-size: contain;">
</div>